<h1>Login</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for :session, url: sign_in_path, method: :post do |form|%>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password%>
  </div>

  <div class="actions">
    <%= form.submit value: "Entrar"%>
  </div>
  <p>Novo Usuario? <%= link_to "Cadastrar", new_usuario_path %></p>
<% end %>
