<div id="<%= dom_id vacinacao %>">
  <p>
    <strong>Desc local:</strong>
    <%= vacinacao.desc_local %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= vacinacao.data %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= vacinacao.horario %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= vacinacao.usuario_id %>
  </p>

</div>
